* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fdfcfb, #e2d1c3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    margin: 4px 0;
}

.limites {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    outline: none;
    border-color: #7a6ad8;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7a6ad8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5e4fcf;
}
.filmesSorteados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.filmeSorteado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}